{% extends 'base.html.twig' %}

{% block title %}Erreur de connexion{% endblock %}

{% block body %}
    {% if error %}
        {#
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        #}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <p>Veuillez réessayer <a href="{{ path('app_login') }}">ici</a></p>
{% endblock %}
