{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

    <a href="{{path("app_login")}}">Retour</a>

    <h1 class="text-center">Choisissez votre nouveau mot de passe</h1>

    {{ form(form) }}


{% endblock %}